html {
    scroll-behavior: smooth;
}

body {
    background-color: #d3d3d3;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-family: 'Dancing Script', cursive;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
}

.container {
    display: grid;
    grid-auto-rows: auto;
    width: 100%;
}

.page__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #FFF;
}

.page__name {
    padding: 0 0 0 1em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .page__main {
    padding-top: 5em;
}

.main__nav ul {
    list-style-type: none;
    text-align: center;
}

.main__nav li {
    display: inline-block;
    padding: 1em;
}

main {
    width: 100%;
}

section {
    width: 80%;
    margin: auto;
}

section h2 {
    padding: 0.5em 0 0 0.5em;
}

.section__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    background-color: white;
    border-radius: 1em;
    height: auto;
    max-width: 100%;
}

.focus {
    border: 2px solid #000;
}

.card {
    padding: 1em;
    margin: 0.5em;
    border: 1px solid #000;
    border-radius: 1em;
}

footer {
    background-color: #fff;
    width: 100%;
    margin-top: 2em;
    padding: 1em;
}

@media screen and (min-width: 650px) {
    .section__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .section__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .page__header {
        flex-direction: row;
    }
}